*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/* font-family: 'Saira', sans-serif; */
/* font-family: 'Saira Condensed', sans-serif; */

header{
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    overflow: hidden;
    /* cos co wystaje ma byc uciete */
    max-width: 1980px;
    margin: 0 auto;
}

header>*{
    position: absolute;
}

header .welcome{
    top: 7%;
    left: 5%;
    right: 5%;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

header .welcome p{
    font-size: 40px;
}

header .welcome h1{
    margin-top: 15px;
    font-size: 20px;
}

header .welcome h2{
    font-size: 18px;
    font-weight: normal;
}

header .welcome button{
    line-height: 32px;
    padding: 0 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

header img{
    height: 50%;
    bottom: 0;
    right: 0;
}

@media (orientation:portrait)and (min-width:360px){
    header .welcome h1{
        font-size: 24px;
    }

    header .welcome h2{
        font-size: 24px;
    }

    header .welcome button{
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media (orientation:portrait)and (min-width:410px){
    header .welcome h1{
        font-size: 26px;
    }

    header .welcome h2{
        font-size: 26px;
    }

    header .welcome button{
        margin-top: 40px;
        line-height: 50px;
        font-size: 20px;
    }

    header img{
        right: -20%;
    }
}

@media (orientation:portrait)and (min-width:768px){
    header .welcome p{
        font-size: 60px;
    }

    header .welcome h1{
        font-size: 32px;
    }

    header .welcome h2{
        font-size: 32px;
    }

    header .welcome button{
        margin-top: 60px;
        line-height: 60px;
        font-size: 24px;
    }

    header img{
        right: -5%;
    }
}

@media (orientation:landscape){
    header .welcome{
        top: 15%;
        left: 7%;
        right: 48%;
    }

    header img{
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header .welcome button{
        margin-top: 48px;
    }
}

@media (orientation:landscape)and (min-width:640px){
    header .welcome h1{
        font-size: 24px;
    }

    header .welcome h2{
        font-size: 24px;
    }

    header .welcome button{
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation:landscape)and (min-width:1024px){
    header .welcome{
        left: 3%;
    }

    header .welcome p{
        font-size: 56px;
    }

    header .welcome h1{
        margin-top: 40px;
        font-size: 34px;
    }

    header .welcome h2{
        font-size: 34px;
    }

    header .welcome button{
        margin-top: 80px;
        font-size: 28px;
        line-height: 70px;
    }

    header img{
        height: 80%;
        right: -22%;
    }
}

@media (orientation:landscape)and (min-width:1280px){
    header .welcome{
        text-align: left;
        left: 6%;
    }

    header .welcome p{
        font-size: 100px;
    }

    header .welcome h1{
        margin-top: 40px;
        font-size: 50px;
    }

    header .welcome h2{
        font-size: 50px;
    }

    header .welcome button{
        margin-top: 100px;
        padding: 0 40px;
    
        font-size: 30px;
        line-height: 80px;
    }

    header img{
        height: 80%;
        right: -18%;
    }
}

@media (orientation:landscape)and (min-width:1600px){
    header .welcome p{
        font-size: 120px;
        left: 8%;
    }

    header .welcome h1{
        font-size: 60px;
    }

    header .welcome h2{
        font-size: 60px;
    }

    header .welcome button{
        line-height: 90px;
    }

    header img{
        height: 95%;
        right: -8%;
    }
}

@media (min-width: 1024px){
    header .welcome button{
        transition: 0.4s;
    }

    header .welcome button:hover{
        cursor: pointer;
        background-color: white;
        color: #111;
    }
}

/* sekcja 1 - features */
.features{
    max-width: 1980px;
    margin: 50px auto 0;
    padding: 5%;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.features h1{
    font-size: 24px;
    margin-bottom: 15px;
}

.feature img{
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

.feature h2{
    font-size: 22px;
    font-weight: bold;
}

.feature p{
    margin: 20px 0;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300px;
    text-transform: none;
}

@media (min-width:360px){
    .features h1{
        font-size: 28px;
    }

    .feature h2{
        font-size: 24px;
    }

    .feature p{
        font-size: 14px;
    }
}

@media (min-width:768px){
    .features h1{
        font-size: 34px;
    }

    .feature h2{
        font-size: 28px;
    }

    .feature p{
        font-size: 18px;
    }
}

@media (min-width:1024px){
    .features{
        margin-top: 50px;
        padding: 5% 2%;
    }

    .feature{
        float:left;
        width: 33%;
        padding: 25px;
    }

    .features h1{
        font-size: 36px;
    }

    .feature h2{
        font-size: 22px;
    }

    .feature p{
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }
}

@media (min-width:1600px){
    .feature{
        padding: 60px;
    }

    .features h1{
        font-size: 60px;
    }

    .feature h2{
        font-size: 32px;
    }

    .feature p{
        font-size: 21px;
        line-height: 140%;
        padding: 0 10px;
    }
}

/* sekcja 2 - portfolio */
.portfolio{
    background-color: black;
    color: white;
    padding: 10px 0 30px;
}

.portfolio h1{
    padding: 10px 20px;
    margin-bottom: 15px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.project .web img{
    width: 100%;
}

.portfolio .about{
    padding: 10px 20px 20px 0;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    text-align: left;
}

.portfolio .about h2{
    /* padding-left: 20px; */
    text-indent: 20px;
    /* moze byc text-indent jak i padding-left*/
    font-size: 18px;
    margin-bottom: 12px;
    border-bottom: 2px solid white;
    padding-bottom: 6px;
}

.portfolio .about p{
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project{
    max-width: 1400px;
    margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd){
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even){
    background-color: #29a6dc;
}

@media (min-width: 768px){
    .portfolio h1{
        font-size: 40px;
    }

    .portfolio .about h2{
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p{
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .web img{
        display: block;
    }

    .portfolio .project{
        margin-bottom: 40px;
    }
}

@media (orientation: landscape){
    .portfolio .web img, .about{
        width: 50%;
        float: left;
    }

    .project:nth-of-type(even) .web img{
        float: right;
    }

    .project:nth-of-type(even) .about h2{
        text-indent: 0;
        margin-left: 40px;
    }

    .project:nth-of-type(even) .about{
        padding-right: 0;
    }

    .project:nth-of-type(even) .about p{
        padding-right: 20px;
    }
}

@media (orientation: landscape)and (min-width:1024px){
    .portfolio h1{
        padding-top: 30px 0;
    }

    .portfolio .about h2{
        padding-top: 25px;
    }

    .portfolio .about p{
        line-height: 180%;
    }
}

@media (orientation: landscape)and (min-width:1400px){
    .portfolio h1{
        font-size: 60px;
        padding-top: 30px 0;
    }

    .portfolio .about h2{
        padding-top: 50px;
        font-size: 28px;
        text-indent: 40px;
        margin-bottom: 50px;
    }

    .portfolio .about p{
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;
    }

    .portfolio .web img{
        display: block;
    }

    .portfolio .project{
        margin-bottom: 40px;
    }
}


/* sekcja 3 - slogan */
.slogan{
    max-width: 1980px;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.slogan .bg{
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

.slogan h1{
    font-size: 26px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.slogan p{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
}

.slogan .autor{
    margin-top: 20px;
    font-size: 12px;
}

@media(orientation: landscape){
    .slogan p{
        width: 70%;
    }
}

@media(min-width: 768px){
    .slogan .bg{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .slogan h1{
        font-size: 48px;
        margin-bottom: 35px;
    }
    
    .slogan p{
        width: 60%;
        font-size: 26px;
    }
    
    .slogan .autor{
        margin-top: 40px;
        font-size: 18px;
    }
}

@media(min-width: 1024px){
    .slogan .bg{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .slogan h1{
        font-size: 60px;
        margin-bottom: 55px;
    }
    
    .slogan p{
        width: 50%;
        font-size: 40px;
    }
    
    .slogan .autor{
        margin-top: 40px;
        font-size: 26px;
    }
}

/* Sekcja 4 - hobby */
.hobby{
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.hobby h1{
    padding: 20px 0;
    font-size: 36px;
    text-transform: uppercase;
}

.hobby .item{
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1){
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(2){
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3){
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4){
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p{
    padding: 5px 0;
    font-family: 'Saira', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

@media (min-width:533px){
    .hobby .item{
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width:768px){
    .hobby h1{
        margin-top: 40px;
        margin-bottom: 35px;
        font-size: 48px;
    }

    .hobby .item p{
        padding: 15px 0;
        font-size: 30px;
    }
}

@media (min-width:1024px){
    .hobby .item{
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover{
        background-size: 130%;
    }

    .hobby .item p{
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
    }

    .hobby .item:hover p{
        opacity: 1;
        cursor: default;
    }
}

@media (min-width:1600px){
    .hobby h1{
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;
    }

    .hobby .item p{
        font-size: 40px;
    }
}

/* Sekcja 5 - contact */
.contact{
    padding: 30px 20px;
    background-color: black;
}

.contact h1{
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.contact .wrap{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}

.contact input, .contact button, .contact textarea{
    width: 100%;
    margin-bottom: 25px;
    padding: 5px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
}

.contact input{
    height: 36px;
}

.contact textarea{
    height: 120px;
}

.contact button{
    line-height: 40px;
    font-size: 14px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

.contact .socials{
    color: white;
    padding-top: 30px;
    font-size: 0;
}

.contact .social{
    padding: 10px 0;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}

.contact img{
    float: left;
}

.contact span{
    float: left;
    line-height: 72px;
    padding-left: 20px;
}

@media(min-width:533px){
    .contact .social{
        display: inline-block;
        width: 50%;
    }
}

@media(min-width:1024px){
    .contact h1{
        font-size: 60px;
        padding: 30px 0;
    }

    .contact form, .contact .socials{
        float: left;
        width: 50%;
        padding: 0 20px;
    }

    .contact input, .contact button, .contact textarea{
        margin-bottom: 35px;
        font-size: 24px;
    }

    .contact input{
        height: 46px;
    }
    
    .contact textarea{
        height: 180px;
    }
    
    .contact button{
        line-height: 50px;
        transition: 0.4s;
    }

    .contact button:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .contact .social{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}

/* footer */
footer{
    padding: 20px 0;
    background-color: #29a6dc;
    color: white;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    text-align: center;
}